<div class="field">
	<div class="control">
		<label class="label">Team Name</label>
		<input type="text" class="form-control">
	</div>
</div>
<hr>
<div class="content">
	<h4>Invite users</h4>
	<p>Invite users to create an account and join this team.
	Each user will be sent a confirmation email in which
	they can supply their own unique password.
	</p>
</div>
<div>
	<div>	  
	<div class="field">
		<div class="control">
		<label><%= current_user.name %></label>
			<button class="btn btn-danger">Remove</button>
		</div>
	</div>
	</div>
	<form action="/pendings" method="POST">
		<div class="field">
			<div class="control">
				<label class="label">Name</label>
				<input name="name" required type="text" class="form-control">
			</div>
		</div>

		<div class="field">
			<div class="control">
				<label class="label">Email</label>
				<input name="email" required type="text" class="form-control">
			</div>
		</div>
		<hr>
		<input name="user_id" type="hidden" value="<%= current_user.id %>">
		<div class="field">
			<div class="control">
				<button class="btn-sm btn-primary">Add User</button>
			</div>
		</div>
		</form>
</div>

<hr>
<div class="field">
	<div class="control">
		<% if current_page?(new_team_path) %>
			<button class="btn btn-success">Create Team</button>
		<% else %>
			<button class="btn btn-success">Save Team</button>
		<% end %>
	</div>

</div>
