<div class="field">
	<div class="control">
		<label class="label">Team Name</label>
		<input type="text" class="form-control">
	</div>
</div>
<hr>
<div class="content">
	<h4>Invite users</h4>
	<p>Invite users to create an account and join this team.
	Each user will be sent a confirmation email in which
	they can supply their own unique password.
	</p>
</div>

<div v-for="(user, index) in teams.users_attributes">
	<div v-if="user._destroy == '1'">
	{{ user.name }} will be removed
	<button v-on:click="undoRemove(index)" class="btn btn-outline-secondary">Undo</button>
	</div>

	<div v-else>
		<div class="field">
			<div class="control">
				<label class="label">Name</label>
				<input type="text" class="form-control" v-model="user.name">
			</div>
		</div>

		<div class="field">
			<div class="control">
				<label class="label">Email</label>
				<input type="text" class="form-control" v-model="user.email">
			    <div id="error" class="has-text-danger" v-if="errors.length"> {{ error }} </div>
			</div>
		</div>

		<input type="hidden" value="<%= current_user.id %>">

		<div class="field">
			<div class="control">
				<button v-on:click="removeUser(index)" class="form-control mt-2" style="width: 140px;">Remove</button>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="field">
	<div class="control">
		<button v-on:click="addUser" class="btn-sm btn-primary">Add User</button>
	</div>
</div>
<hr>
<div class="field">
	<div class="control">
		<% if current_page?(new_team_path) %>
			<button v-on:click="saveTeam" class="btn btn-success">Create Team</button>
		<% else %>
			<button v-on:click="saveTeam" class="btn btn-success">Save Team</button>
		<% end %>
	</div>

</div>
