<section class="container-lg">
<div class="row">
<div class="col-4" style="background: red; height: 1000px;">

</div>
<div class="col-4" style="background: blue; height: 1000px;">

</div>
<div class="col-4" style="background: yellow; height: 1000px;">

</div>
</div>
</section>