<div class="p-4 shadow-lg" style="background: #242582; color: white;">
<div style="text-align: center;">
<h3>Welcome to Proman</h3>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-8" style="height: 1000px; background: red;">
</div>
<div class="col-4" style="height: 1000px; background: blue;">
</div>
</div>
</div>